extends layout

block content
  h1= title
  p Welcome to #{title}. I am Sumanth.
  button(type="button" class="btn btn-danger" onclick = "doBump()") Press Me
  #bump 
    p Bump the count. 
  script(type='text/javascript').
    let count = 0
    let bump = 1
    function doBump(){
      count+=bump 
      bump++
      document.getElementById("bump").innerHTML='Count '+count + "with bump "+ bump
    }
